@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* <h1>@Model.Name</h1> *@
<h3>@Model.Id</h3>
<img src="~/Images/@Model.Image" style="width:200px; height:200px" /> 
<h2>@Model.Address</h2>